a {
  text-decoration: none; }

li a {
  text-decoration: underline;
  color: #0288d1; }

.mdl-grid {
  max-width: 1024px;
  margin: auto; }

.mdl-layout__header-row {
  padding: 0; }

.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px; }

#quickstart-sign-in-status {
  font-weight: bold; }

pre {
  overflow-x: scroll;
  line-height: 18px; }

code {
  white-space: pre-wrap;
  word-break: break-all; }

h3 {
  background: url("firebase-logo.png") no-repeat;
  background-size: 40px;
  padding-left: 50px;
  color: white; }

nav .nBar {
  height: 8vh;
  min-height: 56px; }
  nav .nBar .pageTitle {
    min-height: 56px; }

nav .pageLinks {
  min-height: 56px; }
  nav .pageLinks ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; }
    nav .pageLinks ul li {
      float: right; }
      nav .pageLinks ul li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: 100;
        border-bottom: none;
        /*&:active{
          color:pink;
        }
        &:visited{
          color:pink;
        }*/ }
        nav .pageLinks ul li a:hover {
          font-size: 1.1em; }

.aboutDiv {
  padding: 10% 12%;
  text-align: left;
  color: #222;
  /*background: #8e9eab; 
  background: -webkit-linear-gradient(to bottom, #8e9eab , #eef2f3); 
  background: linear-gradient(to bottom, #8e9eab , #eef2f3);*/ }
  .aboutDiv p {
    font-size: 1.4em;
    line-height: 1.8;
    /*margin: 15% 0;*/
    text-align: center; }
  .aboutDiv .signature {
    /*opacity: 0.6;*/
    margin-top: 35px; }
  .aboutDiv a {
    text-decoration: none;
    color: inherit;
    opacity: 0.6; }
    .aboutDiv a:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: 0.8; }

.timelineDiv {
  /*background: #136a8a; 
  background: -webkit-linear-gradient(to bottom, #136a8a , #267871); 
  background: linear-gradient(to bottom, #136a8a , #267871); */
  background: #3a7bd5;
  background: -webkit-linear-gradient(to bottom, #3a7bd5, #3a6073);
  background: linear-gradient(to bottom, #3a7bd5, #3a6073);
  /*background: #2C3E50; 
  background: -webkit-linear-gradient(to top, #2C3E50 , #4CA1AF); 
  background: linear-gradient(to top, #2C3E50 , #4CA1AF); */ }
  .timelineDiv ul {
    list-style: none;
    margin: 0 auto;
    padding: 80px 10px;
    max-width: 470px;
    text-align: center; }
    .timelineDiv ul li {
      color: #FFF; }
      .timelineDiv ul li .timeline_date {
        width: 66px;
        height: 66px;
        border-radius: 33px;
        background: rgba(255, 255, 255, 0.9);
        padding: 3px;
        background-clip: content-box;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.9);
        /*color:#136a8a;*/
        color: #3a7bd5;
        float: left;
        margin: 10px 20px 0; }
        .timelineDiv ul li .timeline_date .timeline_month {
          margin-top: 11px;
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.2; }
        .timelineDiv ul li .timeline_date .timeline_year {
          display: block;
          font-weight: 500;
          font-size: 15px; }
      .timelineDiv ul li .timeline_content {
        padding-top: 6px;
        text-align: left; }
        .timelineDiv ul li .timeline_content h2 {
          font-size: 26px; }
        .timelineDiv ul li .timeline_content p {
          font-size: 14px;
          font-weight: 500;
          margin: 3px 0 0;
          opacity: .6; }
      .timelineDiv ul li:nth-last-child(1):after {
        content: '';
        display: none; }
      .timelineDiv ul li:after {
        content: '';
        display: block;
        height: 100px;
        width: 1px;
        background: rgba(255, 255, 255, 0.9);
        margin-left: 53px; }

.blogDiv {
  padding: 20 15;
  overflow-y: scroll; }
  .blogDiv .blogCard {
    height: 300px;
    margin-bottom: 20px;
    background-color: #eee;
    box-shadow: 0px 5px 44px -20px rgba(0, 0, 0, 0.51);
    overflow: hidden;
    transition: height 500ms linear; }
  .blogDiv .blogTitle {
    height: 32%;
    max-height: 96px;
    border-bottom: 1px solid #87CEEB; }
    .blogDiv .blogTitle h1 {
      margin-top: 10px;
      text-align: center; }
  .blogDiv .blogDate {
    /*height: 25%;*/
    position: absolute;
    top: 76;
    right: 0;
    height: 35px;
    background-color: #C7C2C2;
    z-index: 1;
    border-radius: 2px;
    max-width: 200px; }
    .blogDiv .blogDate h4 {
      font-weight: 300;
      text-align: right; }
  .blogDiv .blogContent {
    height: auto;
    line-height: 1.8;
    padding: 30 20;
    font-size: 16px;
    overflow: hidden; }
    .blogDiv .blogContent p {
      height: auto; }
  .blogDiv .heightAuto {
    height: auto;
    transition: height 500ms linear; }
  .blogDiv .expand-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: none;
    background-color: transparent;
    color: #87CEEB; }
    .blogDiv .expand-btn:hover {
      font-size: 18px; }
    .blogDiv .expand-btn:focus {
      border: none;
      outline: none;
      box-shadow: none; }

.projectBody {
  height: 85vh;
  min-height: 596px; }

.projectBody .personalInfoColumn {
  height: 100%; }

.projectBody .personalInfoColumn .personalInfoImg {
  height: 50%;
  margin-top: 10%; }

.projectBody .personalInfoColumn .personalInfoBody {
  height: 25%;
  text-align: center; }

.projectBody .mainColumn {
  height: 100%;
  padding: 0 50; }

.personalInfoBody p {
  font-size: 1.3em; }

.personalInfoBody h1 {
  margin-top: 5px; }

.divBeforeView {
  margin: auto;
  height: 100%;
  overflow: hidden; }

.aboutDiv, .projectsDiv, .blogDiv, .timelineDiv {
  height: 100%;
  width: 700px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

.projectBody .personalInfoBody .user-title {
  letter-spacing: 1.8px;
  opacity: 0.6;
  line-height: 1.2px; }
.projectBody .personalInfoBody .user-location {
  opacity: 0.6;
  font-size: 1.1em; }
.projectBody .personalInfoImg {
  overflow: hidden; }
  .projectBody .personalInfoImg img {
    background: transparent;
    /*opacity: 0;*/
    height: auto;
    width: 65%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 350;
    transition: top 500ms linear; }
    .projectBody .personalInfoImg img:hover {
      top: 80;
      transition: all 500ms linear; }

.projectsDiv .projectCard {
  height: auto;
  padding: 0;
  margin-bottom: 20px; }
  .projectsDiv .projectCard .projectImg {
    height: auto;
    padding: 0; }
    .projectsDiv .projectCard .projectImg img {
      width: 100%;
      height: auto;
      position: relative;
      border-radius: 0;
      background: #136a8a;
      background: -webkit-linear-gradient(to bottom, #136a8a, #267871);
      background: linear-gradient(to bottom, #136a8a, #267871);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .projectsDiv .projectCard .projectImg img:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        transition: all 500ms linear; }
  .projectsDiv .projectCard .projectInfo {
    position: absolute;
    margin: auto;
    bottom: 0;
    background: linear-gradient(to top, black 0%, rgba(229, 229, 229, 0) 100%);
    background: -moz-linear-gradient(to top, black 0%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(t0 top, black 0%, rgba(229, 229, 229, 0) 100%);
    padding: 0 40; }
    .projectsDiv .projectCard .projectInfo .projectContent {
      color: #F5F5F5;
      margin-bottom: 20px; }
      .projectsDiv .projectCard .projectInfo .projectContent p {
        font-weight: 300; }
      .projectsDiv .projectCard .projectInfo .projectContent h5 {
        font-weight: 300;
        text-align: justify; }
  .projectsDiv .projectCard a {
    text-decoration: none; }
    .projectsDiv .projectCard a:hover {
      text-decoration: none !important; }

.footer {
  text-align: center;
  font-size: 1.3em;
  opacity: .4; }
  .footer a {
    color: #222; }
  .footer span {
    margin: 0 5px; }

body {
  background-color: white;
  font-family: "Lato", sans-serif, sans-serif;
  color: black;
  height: 100%;
  overflow: hidden; }

::-webkit-scrollbar {
  display: none; }

/*//////////////////////////////////////*/
/*///// borders /////// */
.border {
  border: 2px dotted black; }

.border2 {
  border: 2px solid red; }

.border3 {
  border: 2px solid yellow; }

.border4 {
  border: 2px solid white; }

.border5 {
  border: 2px solid red; }

/*# sourceMappingURL=main.css.map */
