.projectBody {
    height: 85vh;
  min-height: 596px; }
  .projectBody .personalInfoColumn {
    height: 100%; }
   .projectBody .personalInfoColumn .personalInfoImg {
      height: 50%;
      margin-top: 10%; }
   
     .projectBody .personalInfoColumn .personalInfoBody {
      height: 25%;
      text-align: center }
  .projectBody .mainColumn {
    height: 100%;
    padding: 0 50; }
    .personalInfoBody p {
      font-size: 1.3em;
    }

.divBeforeView{
  margin: auto;
  height: 100%;
  overflow:hidden;
}
.aboutDiv, .projectsDiv, .blogDiv, .timelineDiv{
  height: 100%;
  width:700px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.projectBody{
  .personalInfoImg{
      img {
          background: transparent;
          /*opacity: 0;*/
          height: auto;
          width:65%;
          border-radius: 50%;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;

           &:hover {
            background: -moz-linear-gradient(top,  rgba(238,238,238,0) 0%, rgba(238,238,238,0.09) 47%, rgba(0,230,240,0.15) 77%, rgba(238,238,238,0.17) 88%, rgba(238,238,238,0.2) 99%, rgba(238,238,238,0.2) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.09) 47%,rgba(0,230,240,0.15) 77%,rgba(238,238,238,0.17) 88%,rgba(238,238,238,0.2) 99%,rgba(238,238,238,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.09) 47%,rgba(0,230,240,0.15) 77%,rgba(238,238,238,0.17) 88%,rgba(238,238,238,0.2) 99%,rgba(238,238,238,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#33eeeeee',GradientType=0 ); /* IE6-9 */
            transition: opacity 500ms linear;
          }
        }
      }
    }

         
      