.projectBody {
    height: 85vh;
  min-height: 596px; }
  .projectBody .personalInfoColumn {
    height: 100%; }
   .projectBody .personalInfoColumn .personalInfoImg {
      height: 50%;
      margin-top: 10%; }
   
     .projectBody .personalInfoColumn .personalInfoBody {
      height: 25%;
      text-align: center }
  .projectBody .mainColumn {
    height: 100%;
    padding: 0 50; }
    .personalInfoBody p {
      font-size: 1.3em;
    }
    .personalInfoBody h1{
      margin-top: 5px;
    }

.divBeforeView{
  margin: auto;
  height: 100%;
  overflow:hidden;
}
.aboutDiv, .projectsDiv, .blogDiv, .timelineDiv{
  height: 100%;
  width:700px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.projectBody{
  .personalInfoBody{
    .user-title{
      letter-spacing: 1.8px;
      opacity: 0.6;
      line-height: 1.2px;
    }
    .user-location{
      opacity: 0.6;
      font-size: 1.1em;
    }
  }
  .personalInfoImg{
    overflow: hidden;
      img {
          background: transparent;
          /*opacity: 0;*/
          height: auto;
          width:65%;
          border-radius: 50%;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0;
          top: 350;
          transition:top 500ms linear;
           &:hover {
            top: 80;
            transition: all 500ms linear;
          }
        }
      }
    }

         
      