<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutDiv">
	<p>Hello,</p>
	<p>My name is Juan Rodriguez. I'm a full-stack web developer from the great state of Texas. I jump started my career by attending Nashville Software School in the Fall of 2015 and haven't stopped coding since.</p>
	<p>I am currently looking for new adventures in development. My adaptability enables me to adjust to a projects need at any given moment. My diligence to details ensures a clean and concise code structure. Intuition informs the purposeful state of design choices on a website I've created. </p>
	<p>If you find these qualities an asset like I do, we should <a href="mailto:juan.j.rodriguez2@gmail.com?Subject=Hey%20Juan" target="_top">talk</a>!</p>
	<!-- <p>Sincerely,</p> -->
	<p class="signature">Juan</p>

</div>