<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv ">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogCard " ng-repeat="b in blog">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogTitle">
				<h1>{{b.title}}</h1>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 blogDate">
				<h4>{{b.date}}</h4>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogContent">
				<p>{{b.post}}</p>
			</div>
			<button class="expand-btn">
				<span class="glyphicon glyphicon-menu-down"></span>
			</button>
		</div>
	</div>
	  <h1 ng-if="blog.length === 0">( No blogs posted just yet! )</h1>
</div>