<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutDiv" style="text-align: justify">
	<p>Working with Vue.js</p>
	<p>I find myself more and more intrigued by mobile design</p>
	<p>Creating a travel/blog site for my google photo animations</p>
	<p>Joined the Austin Pride Board of Directors | Director of Technology &#x1F308</p>
	<p>Currently &#x1F4D6 | The Three Body Problem x Liu Cixin</p>
	<p>Currently &#x1F3A7 | Homo Deus: A Brief History of Tomorrow x Yuval Noah Harari.</p>
	<br>
	<br>
	<small style="float: right">Updated May 18, 2017</small>




</div>