<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectBody border4">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectInfoColumn border4">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectInfoTitle border"><h1>projectBody1</h1></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectInfoBody border"></div>

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectImageColumn border4">
			<img class="border" src="">
		</div>
	</div>
</div>