$font-stack:'Lato', sans-serif;
$primary-bg: #13042B;

body{
	font-family: $font-stack;
	background-color:$primary-bg;
}
.border{
	border: 2px solid white;
}
.border2{
	border: 2px solid red;
}
.border3{
	border: 2px solid yellow;
}
.border4{
	border: 2px solid white;
}
.border5{
	border: 2px solid red;
}
img{
	/*border: 2px solid yellow;*/
	
}

